footer {
    padding: 10px;
    background-color: #27aae1;
    text-align: center;
}

footer p {
    color: white;
    font-size: 14px;
}

/* Media Query for smaller screens */
@media screen and (max-width: 600px) {
    footer {
        padding: 10px;
    }
    footer p {
        font-size: 14px;
    }
}