header {
    background-color: #f7f7f7;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
}

.contact-info a {
    background-color: #27aae1;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 0 10px;
    
    border-radius: 30px;
    color: white;
    text-decoration: none;
}
.contact-info a:hover {
    color:#0c5371;
}

nav {
    background-color: #27aae1;
    padding: 15px;
    padding-left: 100px;
}

nav a {
    color:white;
    padding: 0 20px;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover {
    color:#0c5371;
}
