body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    background-color: white;
    padding: 10px 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.description {
    margin: 0;
    background-color: #d6d6d6;
    padding: 20px 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.description p {
    font-size: 20px;
    font-style: italic;
}

section {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

article p {
    max-width: 500px;
    height: auto;
    font-size: 20px;
}

h2 {
    font-size: 30px;
}

.image {
    max-width: 400px; 
    height: auto; 
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    max-width: 300px;
    height: 250px;

    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item p {
    font-size: 20px;
}

@media (max-width: 981px) {



    .description {
        padding: 20px 75px;
    }
    
    .description p, 
    article p,
    .item p {
        font-size: 40px;
    }

    article p {
        max-width: 750px;
        height: auto;
    }

    h2 {
        font-size: 60px;
    }

    h3 {
        font-size: 50px;
    }

    .image {
        max-width: 600px; 
        height: auto; 
    }
    
    .item {
        max-width: 6100px;
        height: 500px;
    }
}